body {
  background-color: rgb(99, 182, 179);
}
p {
  font-size: 20px;
  font-weight: bold;
}
h2 {
  font-size: 30px;
}
#root {
  width: 1980px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.greenhouse1 {
  width: 500px;
  height: 375px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #5d5d5d;
  margin: 50px;
}
.greenhouse2 {
  width: 500px;
  height: 375px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #5d5d5d;
  margin: 50px;
}
.greenhouse3 {
  width: 500px;
  height: 375px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #5d5d5d;
  margin: 50px;
}
.greenhouse4 {
  width: 500px;
  height: 375px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #5d5d5d;
  margin: 50px;
}
.greenhouse5 {
  width: 500px;
  height: 375px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #5d5d5d;
  margin: 50px;
}
.greenhouse6 {
  width: 500px;
  height: 375px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #5d5d5d;
  margin: 50px;
}
.info {
  display: flex;
  width: 500px;
  flex-direction: row;
  justify-content: center;
}

.temp {
  width: 100px;
  height: 100px;
  padding: 1.5em;
  background-color: green;
  margin-right: 50px;
  border-radius: 20px;
  border: 2px solid black;
}

.humid {
  width: 100px;
  height: 100px;
  padding: 1.5em;
  background-color: green;
  border-radius: 20px;
  border: 2px solid black;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
